html {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
}
   
.container {
    width: 1280px;
    margin: 63px auto 0;
}


/***** Header Ramda *****/

.header-nav {
    width: 100%;
}

.header-logo-box {
    width: 334px;
    height: 79px;
    margin-bottom: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo {
    font-size: 80px;
    line-height: 1.18;
    color: #000000;
}

.header-logo span {
    color: #4BCAFF;
}

.site-nav {
    width: 100%;
    height: 68px;
    background-color: #35444F;
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-nav li {
    padding: 22px 40px 18px;
    display: flex;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
}

.site-nav a {
    font-size: 24px;
    line-height: 1.17;
    color: #FFFFFF;
}

.site-nav li:hover,
.header-selected {
    background-color: #222F3A;
}


/***** Main Ramda *****/

.main-ramda {
    width: 100%;
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


/***** Aside menu Ramda *****/

.aside-menu {
    width: 344px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
}

.aside-nav {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.aside-nav li {
    padding: 27px 0 27px 38px;
    background-color: #FFFFFF;
}

.aside-nav a {
    font-size: 27px;
    line-height: 1.0;
    color: #495863;
}

.aside-nav li:hover {
    padding: 27px 0 27px 68px;
    background-color: #DBDBDB;
}

.aside-nav a:hover {
    color: #000000;
}


/***** Ramda - content *****/

.ramda-content {
    width: 885px;
}

.ramda-image-box {
    width: 100%;
    height: 529px; 
    margin-bottom: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
}

.ramda-image-box img {
    width: 320px;
    height: auto;
    transition: transform 1s;
}

.ramda-image-box:hover img {
    transform: scale(1.2);
}

.ramda-description {
    font-size: 18px;
    line-height: 1.33;
    color: #2C2C2C;
}

.ramda-description.first {
    margin-bottom: 34px;    
}

.ramda-description.second {
    margin-bottom: 3px;    
}


/***** Footer Ramda *****/

.footer-ramda {
    width: 100%;
    height: 69px;
    margin: 51px auto 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(99, 105, 110, 0.48);
}

.footer-nav {
    width: 875px;
    height: 100%;
    margin: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-nav a {
    font-size: 28px;
    line-height: 1.0;
    color: #0C1927;
}

.footer-nav a:hover {
    padding: 13px 0;
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
}

.copyright {
    margin: 0 40px;
    font-size: 24px;
    line-height: 1.0;
    color: #010101;
}
